
    <nav class="navbar  navbar-light justify-content-center" >

      <div class=" " id="navInfo">
        <ul class="navbar-nav nav-fill">
          <li class="nav-item vMargine subMenuItem">
            <a class="nav-link" href="#"><i class="ms-Icon ms-Icon--ContactInfo subIcon" aria-hidden="true"></i></i><p class="subMenu-p">Name and Title</p></a>
          </li>
          <li class="nav-item vMargine subMenuItem">
            <a class="nav-link" href="#"><i class="ms-Icon ms-Icon--JoinOnlineMeeting subIcon" aria-hidden="true"></i><p class="subMenu-p">Social links</p></a>
          </li>
          <li class="nav-item vMargine subMenuItem">
            <a class="nav-link" href="#"><i class="ms-Icon ms-Icon--BulkUpload subIcon" aria-hidden="true"></i><p class="subMenu-p">Publications</p></a>
          </li>
          <li class="nav-item vMargine subMenuItem">
            <a class="nav-link" href="#"><i class="ms-Icon ms-Icon--Work subIcon" aria-hidden="true"></i><p class="subMenu-p">Work History</p></a>
          </li>
          <li class="nav-item vMargine subMenuItem">
            <a class="nav-link" href="#"><i class="ms-Icon ms-Icon--AnalyticsReport subIcon" aria-hidden="true"></i><p class="subMenu-p">CRM History</p></a>
          </li>
          <li class="nav-item vMargine subMenuItem">
            <a class="nav-link" href="#"><i class="ms-Icon ms-Icon--Contact subIcon" aria-hidden="true"></i><p class="subMenu-p">Personal Information</p></a>
          </li>
          
          
        </ul>
      </div>
    </nav>
