
    <nav class="navbar  navbar-light justify-content-center" >

      <div class=" " id="navInfo">
        <ul class="navbar-nav nav-fill">
          <li class="nav-item vMargine subMenuItem" id="infoAgenda">
            <i class="ms-Icon ms-Icon--Certificate subIcon" aria-hidden="true"></i><p class="subMenu-p">Agenda</p></a>
          </li>
          <li class="nav-item vMargine subMenuItem" id="infoAttendees">
            <i class="ms-Icon ms-Icon--Group subIcon" aria-hidden="true"></i><p class="subMenu-p">Attendees</p></a>
          </li>
          <li class="nav-item vMargine subMenuItem" id="infoScheduled">
            <i class="ms-Icon ms-Icon--EventAccepted subIcon" aria-hidden="true"></i><p class="subMenu-p">Scheduled To</p></a>
          </li>
          <li class="nav-item vMargine subMenuItem" id="infoGoals">
            <i class="ms-Icon ms-Icon--Medal subIcon" aria-hidden="true"></i><p class="subMenu-p">Goals</p></a>
          </li>
          <li class="nav-item vMargine subMenuItem" id="infoActionItems">
            <i class="ms-Icon ms-Icon--GroupedList subIcon" aria-hidden="true"></i><p class="subMenu-p">Action Items</p></a>
          </li>
          
          
        </ul>
      </div>
    </nav>
