<nav class="navbar navbar-expand-lg navbar-light sticky-top mainNav" >
  <a class="navbar-brand mr-5" href="/">
    <img src="/img/logo.png" height="90" alt="" loading="lazy" style="padding-left: 50px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="mainMenu">
    <ul class="navbar-nav nav-fill w-100">
      <li id="mmInfo" class="nav-item m-auto menuItem" onclick="showSubMenu(this.id)">
        <i class="ms-Icon ms-Icon--CalendarAgenda mainIcon" aria-hidden="true"></i><p class="mainMenu-p">Meeting Information</p>
      </li>
      <li id="mmAttendees" class="nav-item m-auto menuItem" onclick="showSubMenu(this.id)">
       <i class="ms-Icon ms-Icon--Group mainIcon" aria-hidden="true"></i><p  class="mainMenu-p">Attendees</p>
      </li>
      <li id="mmCompany" class="nav-item m-auto menuItem" onclick="showSubMenu(this.id)">
            <i class="ms-Icon ms-Icon--CityNext mainIcon" aria-hidden="true"></i><p  class="mainMenu-p">Company</p>
      </li>
      <li id="mmPrevious" class="nav-item m-auto menuItem" onclick="showSubMenu(this.id)">
        <i class="ms-Icon ms-Icon--ActivityFeed mainIcon" aria-hidden="true"></i><p  class="mainMenu-p">Previous Interactions</p></a>
      </li>
      
    </ul>
  </div>
</nav>