
    <nav class="navbar  navbar-light justify-content-center " >

      <div class=" " id="navInfo">
        <ul class="navbar-nav nav-fill">
          <li class="nav-item vMargine subMenuItem">
            <i class="ms-Icon ms-Icon--Commitments subIcon" aria-hidden="true"></i><p class="subMenu-p">Meeting History </p>
          </li>
          <li class="nav-item vMargine subMenuItem">
            <i class="ms-Icon ms-Icon--Mail subIcon" aria-hidden="true"></i><p class="subMenu-p">Past Emails Summary</p>
          </li>
          <li class="nav-item vMargine">
           <i class="ms-Icon ms-Icon--EmojiDisappointed subIcon" aria-hidden="true"></i><p class="subMenu-p">Raised Concerns</p>
          </li>
          <li class="nav-item vMargine subMenuItem">
            <i class="ms-Icon ms-Icon--Switch subIcon" aria-hidden="true"></i><p class="subMenu-p">Changes</p>
          </li>
          
          
          
        </ul>
      </div>
    </nav>
