<div class="row mt-5">
  <div class="col-sm-1 justify-content-center subMenu" id="sm-info"> 
     {{> _infobar}}
  </div>
  <div class="col-sm-1  justify-content-center subMenu" id="sm-company"> 
     {{> _companybar}}
  </div>
  <div class="col-sm-1  justify-content-center subMenu" id="sm-attendees"> 
     {{> _attendeesbar}}
  </div>
  <div class="col-sm-1  justify-content-center subMenu" id="sm-previous"> 
     {{> _previousbar}}
  </div>
  <div class="col-sm-10" id="dataContainer">
      
  </div>
</div>


